/* 
Pam Kelly's CSS for JavaScript GiftTastic App
*/

* {
    box-sizing: border-box;
  }

  body{
    font-family: 'Calistoga', cursive;
    font-size: 22px;
  }
  
  #images {
    display: inline-block;
  }

  